<%= form_for(meal) do |meal_form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(meal.errors.count, "error") %>
            prohibited this meal from being saved:</h2>

        <ul>
            <% meal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
      <%= meal_form.label :consumption_time %>
      <%= meal_form.datetime_select :consumption_time %>
  </div>

  <%= meal_form.fields_for(:ingredients) do |ingredient_form| %>
    <% if meal.ingredients[ingredient_form.index]._destroy %>
      <%= ingredient_form.hidden_field :_destroy %>
    <% else %>
      <p>
        <%= ingredient_form.hidden_field :name %>
        <%= meal.ingredients[ingredient_form.index].name %>
        <%= ingredient_form.button 'edit', type: :submit, name: "meal[ingredients_attributes][#{ingredient_form.index}][commit]", value: :edit   %>
        <%= ingredient_form.button 'delete', type: :submit, name: "meal[ingredients_attributes][#{ingredient_form.index}][commit]", value: :delete %>
      </p>
    <% end %>
  <% end %>

  <%= meal_form.submit name: "meal[ingredients_attributes][#{meal.ingredients.length}][edit]", value: 'new ingredient' %>

  <div class="actions">
      <%= meal_form.submit %>
  </div>
<% end %>
